body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: montserrat;
    box-sizing: border-box;
    background-image: url('images/repeating-starfield.jpg');
}

img {
    width: 100%;
}

.hero {
    background-image: url('images/Website_Header.png');
    height: 25vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.hero-text {
    font-size: 4em;
    font-weight: bold;
}

.topic-title{
    color: white;
    font-size: 2em;
    padding: 0.1em 3em;
    background-color: rgb(0, 0, 0);
}

.topic-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6em;
    width: 70%;
    margin: 3em auto;
}

.topic-card{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    outline: 2px solid white;
}

.topic-card-text{
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.Animation-Video{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    outline: 2px solid white;
    margin: auto;
    display: block;
}

.navbar {
    background-color: #000000;
    overflow: hidden;
    text-align: center;
}

.navbar .nav-button {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
    transition: background-color 0.3s ease;
    outline: white;
}

.navbar .nav-button:hover {
    background-color: #555;
}

.button:hover {
    background-color: #555;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-black-box {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 2em;
    width: 90%;
    margin: auto;
}

.black-box {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.content-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding: 2em;
    width: 60%;
    margin: auto;
}

.footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: right;
    font-size: 1em;
    padding: 20px;
    margin-top: auto;
    box-sizing: border-box;
}